.name {
    position: absolute;
    top: 225px;
    z-index: +1;
    /* font-size: 80px; */
    background-color: rgba(4, 15, 57, .7);
    color: white;
    border-bottom-color: #1d66cb;
    border-bottom-style: solid;
    border-bottom-width: 8px;
    height: 82px;
    padding-top: 18px;
    padding-inline: 10px;
}

.image {
    width: 1300px;
    height: 900px;
    object-fit: cover;
}

.rating {
    margin-top: 12px;
    display: flex;
}

.containerRating {
    background-color: rgba(4, 15, 57, .5);
    width: 190px;
    height: 100px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    border-bottom: #1d66cb;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerProp {
    position: absolute;
    top: 400px;
    left: 1558px;
}

