.card-grande {
    background-color: rgb(4, 15, 57); /* fondo azul */
    color: white;
    border-bottom: 5px solid rgb(29, 102, 203); /* borde inferior azul oscuro de 5px */
    border-top: 5px solid rgb(29, 102, 203);
  }
  
  .card-grande:hover {
    transform: scale(1.05);
  }
  
  .card-grande p {
    margin-top: 16px;
    padding: 8px;
    border: none;
    background-color: transparent;
    color: white;
    width: 100%;
    resize: vertical;
  }